<div class="ui container">
  <div class="header-bar">
    <h1>Home</h1>
    <div class='sk-item-right'>
      <%= image_tag('notification.png', size: '30x30', style: 'vertical-align: -10px') %>
      <button class="ui button" style="border-radius: 1.5rem"><%= @initial %></button>
    </div>
  </div>

  <div class="ui grid">
    <div class="eight wide mobile column">
      <a href="/timeline/<%= @user.username %>">
        <button class="ui button">Me</button>
      </a>
    </div>
    <% @tracked_users.each do |tracked_user| %>
      <div class="eight wide mobile column">
        <a href="/timeline/<%= tracked_user.username %>">
          <button class="ui button"><%= tracked_user.first_name %></button>
        </a>
      </div>
    <% end %>
  </div>
</div>
